/* ===== CSS STYLES FOR PORTFOLIO ===== */
html, body {
	height: 100%;
}

#wrapper {
	background: url("../images/imagegif.gif") no-repeat center fixed;
	background-size: cover;
	height: 100vh;
	box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
	overflow: auto;
	color: #fffbed;
}

h2 {
	font: 3.0em 'Montserrat';
	margin: 15% 2% 20%;
}

h2:not(#about) {
	margin-bottom: 50px;
}

img {
	width: 100%;
}

/* === NAVIGATION === */
header h4 {
	text-transform: uppercase;
	float: left;
	font: 1.5em 'Montserrat', sans-serif;
	line-height: 1.5em;
	color: #fffbed;
	margin: 1% 2%;
}
nav {
	width: 100%;
	overflow: hidden;
	background-color: #333;
}

nav ul {
	list-style-type: none;
	float: right;
	width: 30%;
	margin: 1%;
}

nav li {
	width: 25%;
	float: left;
}

nav a {
	display: block;
	text-align: center;
	text-decoration: none;
	padding: 10px 0;
	font-family: 'Raleway', sans-serif;
	color: #fffbed;
}

nav a:hover {
	background-color: #fffbed;
	color: #333;
	transition: 0.5s ease-in;
}

/* === BACKGROUND CTA === */
#home {
	overflow: hidden;
	margin-bottom: 40rem;
}

h1 {
	text-align: right;
	font: 5.0em 'Montserrat', sans-serif;
	margin: 15rem 5% 0 0;
}

#home p {
	float: right;
	margin-right: 5rem;
}

#home em {
	font-style: italic;
	color: #888;
	text-shadow: 1px 1px black;
}

#home a {
	color: #fffbed;
}

#home a:hover {
	color: #ddd;
	text-shadow: 1px 1px 0.5rem #eee;
}

/* === ABOUT === */
#about {
	clear: both;
	width: 100%;
	margin: 5rem 0rem 20rem auto;
	padding: 0 5rem 5rem 0;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.7);
}

p, legend {
	font: 1.5em 'Raleway', sans-serif;
	line-height: 1.5;
	margin-top: 30px;
}

#about h2 {
	margin: 5rem 0rem 0rem 0rem;
	text-align: left;
	width: 60%;
	float: right;
}

#about p {
	text-align: left;
	float: right;
	width: 60%;
}

/* === PROJECTS === */
#projects {
	clear: both;
	width: 100%;
	margin: 50px auto;
}

#project-list {
	list-style-type: none;
	overflow: hidden;
	display: flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-around;
}

#project-list li {
	float: left;
	width: 33%;
	margin: 0;
}

.thumb h3 {
	width: 75%;
	text-align: center;
	font: 1.5em 'Montserrat';
	margin: 2.0rem auto 1.5rem;
	border-bottom: 0.1rem solid #fffbed;
}

#project-list p {
	font-size: 1em;
}

#project-list img {
	display: block;
	width: 100%;
	height: auto;
}

.thumb {
	position: relative;
}

.overlay {
	position: absolute;
	opacity: 0;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	height: 100%;
	width: 100%;
	transition: 0.5s ease;
	background-color: rgba(0, 0, 0, 0.6);
}

.text {
	position: absolute;
	padding: 2rem;
	margin-top: -3rem;
}

.thumb:hover .overlay {
	display: block;
	opacity: 1;
}

/* === TESTIMONIALS === */
#feedback {
	width: 75%;
	margin: 25% auto;
	clear: both;
}

#feedback h2{
	margin-left: 0;
}

#feedback em {
	font-style: italic;
}

/* === FORM === */
#contact-wrapper {
	background-color: rgba(0, 0, 0, 0.8);
	overflow: hidden;
	clear: both;
}

#contact {
	width: 60%;
	float: left;
}

#contact-wrapper h2 {
	text-align: center;
	margin-top: 3%;
}

form {
	width: 100%;
	overflow: hidden;
	margin-left: 5rem;
}

#formInfo {
	float: left;
	width: 55%;
}

#contact p {
	margin-top: 0.5rem;
}

#name, #email {
	width: 100%;
}

#name, #email, #message {
	padding-left: 1%;
}

#formText {
	float: left;
	width: 55%;
}

#message {
	display: block;
	width: 100%;
	height: 200px;
	resize: none;
}

#button {
	clear: both;
}

#submit {
	margin: 2% 0;
	padding: 0 2%;
	background-color: #fffbed;
	color: #427478;
	border-color: #427478;
}

#submit:hover {
	background-color: #d79a64;
	color: #fffbed;
}

#submit:active {
	text-indent: 10px;
}

/* === SOCIAL LINKS === */

#social-links {
	width: 25%;
	float: left;
	margin-top: 4rem;
	margin-right: 5rem;
}

#social-links img {
	width: 3rem;
	margin: 0 1rem;
	position: relative;
	top: 0.3rem;
}

#social-links p {
	font-size: 3.0em;
}

#social-links a {
	color: #fffbed;
}

#social-links a:hover {
	color: #888;
}

/* === FOOTER === */
footer {
	width: 100%;
	background-color: #333;
}

footer h3 {
	text-align: center;
	font: 1.0em 'Montserrat', sans-serif;
	line-height: 1.5em;
	color: #555;
	padding: 1% 0;
}

footer a {
	color: #555;
}

footer a:hover {
	color: #888;
}

footer span {
	font-size: 0.7em;
	line-height: 2.0em;
}

/* ============================================== */
/* ============================================== */

@media screen and (max-width: 900px) {

	/* === NAVIGATION === */
	nav ul {
		width: 65%;
	}

	nav li {
		width: 25%;
	}

	nav a {
		font-size: 1.3em;
	}

	header h3 {
		font-size: 1.7em;
		line-height: 1.8;
	}

	/* === ABOUT === */
	#about h2 {
		margin-bottom: 25px;
	}

	#about p {
		margin-top: 15px;
		width: 80%;
	}
	#project-list li {
		width: 100%;
	}

	/* === FOOTER === */
	#name, #email {
		width: 70%;
	}
}

@media screen and (max-width: 615px) {

	h2 {
		text-align: center;
		margin: auto;
	}

	h2, p {
		text-shadow: 1px 1px #000;
	}

	/* === NAVIGATION === */
	header h3 {
		display: none;
	}

	nav ul {
		width: 100%;
	}

	/* === CTA === */
	h1 {
		text-align: center;
		margin-right: 0;
	}

	/* === ABOUT === */
	#about {
		width: 90%;
	}

	#about h2 {
		text-align: center;
	}

	#about p {
		text-align: left;
		float: none;
		margin: 15px auto;
		width: 100%;
		font-size: 1.8em;
	}

	/* === PROJECTS === */

	#project-list p {
		font-size: 1.0em;
	}

	/* === CONTACT === */

	#contact h2 {
		margin: 25px auto;
	}

	#name, #email {
		width: 100%;
	}
}
